body {
  background-color: #184860;
}

#flappy-bird-reborn {
  border: 2px solid white;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
p {
  text-align: center;
  color: white;
}

a {
  color: #F4FDFC;
}
